

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

app-raw-material {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 100%;
}
