@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
  font-size: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
}

.row {
  flex-wrap: nowrap !important;
}

.container-fluid {
  padding-left: 0 !important;
}

.sidebar {
  /*position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0; */
  width: 20%;
  padding-right: 0 !important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.user-profile {
  display: flex;
  gap: 13px;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 5px;
  height: 10vh;
  background-color: #007bff;
}

.user-profile img {
  height: 42px;
  width: 48px;
  border-radius: 69%;
}

.user-name {
  margin-bottom: 0 !important;
  font-weight:500;
}

.controll-dashboard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  margin-bottom: 12px;
}

.controll-text {
  margin-bottom: 0 !important;
  font-weight: 700;
}

hr {
  margin: 0;
  height: 2px;
  margin-bottom: 15px;
}



.nav-link {
  font-weight: 500;
  color: #333;
  font-size: 0.78rem;
}

.nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.nav-link.active {
  color: #007bff;
}

.nav-link.active .feather {
  color: inherit;
}

.nav-link:hover .feather,
.sidebar .nav-link:focus .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.flex-wrap > .border-bottom {
  min-width: 100%;
}
